<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><span th:utext="${userName}"></span></h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/secretword" role="button">Play Jotto</a>
        <a class="btn btn-primary btn-lg" href="/pastgames" role="button">View Past Games</a>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration"
                    type="Submit">Logout
            </button>
        </form>
    </div>
</div>
</body>
</html>