<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secret Word</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<span th:utext="${message}"></span>
<h1> Enter your secret word: </h1>
<form action="#" th:action="@{/secretword}" th:object="${secretWord}" method="post">
    <input type="text" th:field="*{word}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>